<div>
    <h2>
        <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']">
            <fa-icon [icon]="'plus'"></fa-icon> <span jhiTranslate="userManagement.home.createLabel">Create a new User</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="users">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="login"><span jhiTranslate="userManagement.login">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="email"><span jhiTranslate="userManagement.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                <th jhiSortBy="langKey"> <span jhiTranslate="userManagement.langKey">Lang Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span jhiTranslate="userManagement.profiles">Profiles</span></th>
                <th jhiSortBy="createdDate"><span jhiTranslate="userManagement.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="lastModifiedBy"><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="lastModifiedDate"><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            <tr class="form">
                <th><input class="form-control" id="field_search_login" name="search_login" [(ngModel)]="searchModel.login" type="text" /></th>
                <th><input class="form-control" id="field_search_email" name="search_email" [(ngModel)]="searchModel.email" type="text" /></th>
                <th><select class="form-control" id="field_search_activated" name="search_activated" [(ngModel)]="searchModel.activated">
                  <option [ngValue]="true" jhiTranslate="userManagement.activated">Activated</option>
                  <option [ngValue]="false" jhiTranslate="userManagement.deactivated">Deactivated</option>
                </select></th>
                <th><select class="form-control"  id="field_search_langKey" name="search_langKey" [(ngModel)]="searchModel.langKey">
                      <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
                </select></th>
                <th><select class="form-control" name="search_authority" [(ngModel)]="searchModel.authorities">
                    <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
                </select></th>
                <th><input class="form-control" id="field_search_createdDate" name="search_createdDate" [(ngModel)]="searchModel.createdDate" type="text" /></th>
                <th><input class="form-control" id="field_search_lastModifiedBy" name="search_lastModifiedBy" [(ngModel)]="searchModel.lastModifiedBy" type="text" /></th>
                <th><input class="form-control" id="field_search_lastModifiedDate" name="search_lastModifiedDate" [(ngModel)]="searchModel.lastModifiedDate" type="text" /></th>
                <th class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="button" (click)="transition()" class="btn btn-primary">
                            <fa-icon icon="search"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.search">Search</span>
                        </button>
                        <button type="reset" (click)="searchModel={};transition()" class="btn btn-secondary">
                            <fa-icon icon="ban"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.reset">Reset</span>
                        </button>
                    </div>
                  </th>
            </tr>
            </thead>
            <tbody *ngIf ="users">
            <tr *ngFor="let user of users; trackBy: trackIdentity">
                <td><a [routerLink]="['./', user.login, 'view']">{{user.login}}</a></td>
                <td>{{user.email}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated"
                            jhiTranslate="userManagement.deactivated">Deactivated</button>
                    <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                            [disabled]="currentAccount.login === user.login" jhiTranslate="userManagement.activated">Activated</button>
                </td>
                <td>{{user.langKey}}</td>
                <td>
                    <div *ngFor="let authority of user.authorities">
                        <span class="badge badge-info">{{ authority }}</span>
                    </div>
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['./', user.login, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['./', user.login, 'edit']"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="button" (click)="deleteUser(user)"
                                class="btn btn-danger btn-sm" [disabled]="currentAccount.login === user.login">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="users">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
